body {
  font-family: "Arimo", sans-serif;
}

.hero {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/hero-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  .hero-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

    h1 {
      font-size: 40pt;
    }

    p {
      font-size: 14pt;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1170px;

  .content {
    padding: 3.75rem 0;

    .introduction-text {
      padding-bottom: 1rem;
    }

    .school {
      padding: 1rem;
    }

    .job {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .cards-container {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;

      .post-card {
        border-radius: 4px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        transition: 0.25s ease;
        margin: 1.75rem;
        width: 80%;

        @media (min-width: 1200px) {
          width: 27%;
        }

        a {
          color: inherit;
        }

        img {
          width: 100%;
        }

        .post-card-text {
          padding: 1.5rem;
        }
      }

      .post-card:hover {
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.8);
      }
    }
  }
}

footer {
  text-align: center;
  align-content: center;

  a {
    color: inherit;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .fa {
    transition: 0.3s ease;
  }

  .fa-github:hover {
    color: rgb(110, 84, 148);
  }

  .fa-instagram:hover {
    color: rgb(233, 89, 80);
  }

  .fa-linkedin:hover {
    color: rgb(14, 118, 168);
  }

  .fa-file:hover {
    color: rgb(72, 88, 208);
  }
}
