nav {
	min-height: 5vh;

	.navbar-brand {
		font-size: 2rem;
	}

	.nav-item {
		padding-left: 2rem;
		padding-right: 2rem;
		font-size: 2rem;
	}
}

.home-landing {
	background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
	color: white;

	.landing {
		max-width: 80%;
		margin: auto;
		display: flex;
		min-height: 95vh;
		justify-content: center;
		align-items: center;

		.text {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;
			h2 {
				font-size: 7rem;
			}
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 75%;
				width: 75%;
				object-fit: contain;
				border-radius: 50%;
				filter: drop-shadow(15px 15px 15px #1c5f86);
			}
		}
	}
}

.home-education {
	background: white;
	color: black;

	.education {
		max-width: 80%;
		margin: auto;
		display: flex;
		min-height: 100vh;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		transition: opacity 2s ease;

		.undergrad {
			display: flex;
		}

		.graduate {
			display: flex;
		}

		.text {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;
			h2 {
				background: linear-gradient(to right, #b39bd1, #2580b3);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 75%;
				width: 75%;
				object-fit: contain;
			}
		}
	}
}

.home-job {
	background-image: linear-gradient(-225deg, #2580b3 0%, #cbbacc 100%);
	color: white;

	.job {
		max-width: 80%;
		margin: auto;
		display: flex;
		min-height: 100vh;
		justify-content: center;
		align-items: center;
		transition: opacity 4s ease;

		.text {
			display: flex;
			flex: 2;
			justify-content: space-evenly;
			align-items: center;
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 40%;
				width: 40%;
				object-fit: contain;
			}
		}
	}
}

.home-projects {
	color: black;

	p {
		font-size: 1.5rem;
	}

	.projects {
		display: flex;
		flex-direction: column;
		max-width: 80%;
		margin: auto;
		min-height: 100vh;
		transition: opacity 4s ease;

		.text {
			display: flex;
			flex: 2;
			justify-content: center;
			align-items: center;
			h2 {
				background: linear-gradient(to right, #b39bd1, #2580b3);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.cards {
			display: flex;
			flex: 1;
			flex-direction: row;
			justify-content: center;
			align-items: flex-start;
			flex-wrap: wrap;

			.card {
				width: 40rem;
				height: auto;
				margin-left: 2rem;
				margin-right: 2rem;
				margin-top: 2rem;
				margin-bottom: 2rem;
				transition: opacity ease 0.25s;
			}

			.card:hover {
				opacity: 0.5;
			}
		}
	}
}

.hidden {
	opacity: 0;
}

@media screen and (max-width: 1024px) {
	h2 {
		font-size: 3rem;
	}

	.home-landing .landing .text h2 {
		font-size: 5rem;
	}

	.home-landing .landing .photo img {
		height: 85%;
		width: 85%;
	}

	.home-job .job .photo img {
		height: 60%;
		width: 60%;
	}
}

@media screen and (max-width: 829px) {
	h2 {
		font-size: 1.5rem;
	}

	.home-landing .landing {
		flex-direction: column;
		.text {
			text-align: center;
			h2 {
				font-size: 4rem;
			}
		}

		.photo {
			align-items: flex-start;
		}
	}

	.home-education .education {
		.undergrad {
			flex-direction: column-reverse;
		}

		.graduate {
			flex-direction: column-reverse;
		}

		.text {
			text-align: center;
			h2 {
				font-size: 2.5rem;
				padding-bottom: 1.5rem;
			}
		}
	}

	.home-job .job {
		flex-direction: column;
		.text {
			flex: 1;
			text-align: center;
			align-items: flex-end;
			h2 {
				font-size: 3rem;
			}
		}
		.photo {
			flex: 2;
			img {
				height: 50%;
				width: 50%;
			}
		}
	}

	.home-projects .projects {
		h2 {
			font-size: 3rem;
		}
	}
}
