nav {
	min-height: 5vh;

	.navbar-brand {
		font-size: 2rem;
	}
}

.home-landing {
	background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
	color: white;

	.landing {
		width: 80%;
		margin: auto;
		display: flex;
		min-height: 95vh;
		justify-content: center;
		align-items: center;

		.text {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;
			h2 {
				font-size: 7rem;
			}
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 75%;
				width: 75%;
				object-fit: contain;
				border-radius: 50%;
				filter: drop-shadow(0px 5px 3px #1c5f86);
			}
		}
	}
}

.home-education {
	background: white;
	color: black;

	.education {
		width: 80%;
		margin: auto;
		display: flex;
		min-height: 100vh;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;

		.undergrad {
			display: flex;
		}

		.graduate {
			display: flex;
		}

		.text {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;
			h2 {
				background: linear-gradient(to right, #2580b3, #e0b9e2);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 75%;
				width: 75%;
				object-fit: contain;
			}
		}
	}
}

.home-job {
	background-image: linear-gradient(-225deg, #2580b3 0%, #cbbacc 100%);
	color: white;

	.job {
		width: 80%;
		margin: auto;
		display: flex;
		min-height: 100vh;
		justify-content: center;
		align-items: center;

		.text {
			display: flex;
			flex: 2;
			justify-content: space-evenly;
			align-items: center;
		}

		.photo {
			display: flex;
			flex: 1;
			justify-content: space-evenly;
			align-items: center;

			img {
				height: 40%;
				width: 40%;
				object-fit: contain;
			}
		}
	}
}
