@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

h2 {
  font-size: 4.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

p {
  font-size: 2.5rem;
}

nav {
  min-height: 5vh;
}
nav .navbar-brand {
  font-size: 2rem;
}
nav .nav-item {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
}

.home-landing {
  background-image: linear-gradient(-225deg, #cbbacc 0%, #2580b3 100%);
  color: white;
}
.home-landing .landing {
  max-width: 80%;
  margin: auto;
  display: flex;
  min-height: 95vh;
  justify-content: center;
  align-items: center;
}
.home-landing .landing .text {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.home-landing .landing .text h2 {
  font-size: 7rem;
}
.home-landing .landing .photo {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.home-landing .landing .photo img {
  height: 75%;
  width: 75%;
  object-fit: contain;
  border-radius: 50%;
  filter: drop-shadow(15px 15px 15px #1c5f86);
}

.home-education {
  background: white;
  color: black;
}
.home-education .education {
  max-width: 80%;
  margin: auto;
  display: flex;
  min-height: 100vh;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transition: opacity 2s ease;
}
.home-education .education .undergrad {
  display: flex;
}
.home-education .education .graduate {
  display: flex;
}
.home-education .education .text {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.home-education .education .text h2 {
  background: linear-gradient(to right, #b39bd1, #2580b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-education .education .photo {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.home-education .education .photo img {
  height: 75%;
  width: 75%;
  object-fit: contain;
}

.home-job {
  background-image: linear-gradient(-225deg, #2580b3 0%, #cbbacc 100%);
  color: white;
}
.home-job .job {
  max-width: 80%;
  margin: auto;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  transition: opacity 2s ease;
}
.home-job .job .text {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  align-items: center;
}
.home-job .job .photo {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  align-items: center;
}
.home-job .job .photo img {
  height: 40%;
  width: 40%;
  object-fit: contain;
}

.home-projects {
  color: black;
}
.home-projects p {
  font-size: 1.5rem;
}
.home-projects .projects {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: auto;
  min-height: 100vh;
  transition: opacity 4s ease;
}
.home-projects .projects .text {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.home-projects .projects .text h2 {
  background: linear-gradient(to right, #b39bd1, #2580b3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-projects .projects .cards {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-wrap: wrap;
}
.home-projects .projects .cards .card {
  width: 40rem;
  height: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: opacity ease 0.25s;
}
.home-projects .projects .cards .card:hover {
  opacity: 0.5;
}

.hidden {
  opacity: 0;
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 3rem;
  }

  .home-landing .landing .text h2 {
    font-size: 5rem;
  }

  .home-landing .landing .photo img {
    height: 85%;
    width: 85%;
  }

  .home-job .job .photo img {
    height: 60%;
    width: 60%;
  }

  .home-projects .projects .text {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 829px) {
  h2 {
    font-size: 1.5rem;
  }

  .home-landing .landing {
    flex-direction: column;
  }
  .home-landing .landing .text {
    text-align: center;
  }
  .home-landing .landing .text h2 {
    font-size: 4rem;
  }
  .home-landing .landing .photo {
    align-items: flex-start;
  }

  .home-education .education .undergrad {
    flex-direction: column-reverse;
  }
  .home-education .education .graduate {
    flex-direction: column-reverse;
  }
  .home-education .education .text {
    text-align: center;
  }
  .home-education .education .text h2 {
    font-size: 2.75rem;
    padding-bottom: 1.5rem;
  }

  .home-job .job {
    flex-direction: column;
  }
  .home-job .job .text {
    flex: 1;
    text-align: center;
    align-items: flex-end;
  }
  .home-job .job .text h2 {
    font-size: 3.5rem;
  }
  .home-job .job .photo {
    flex: 2;
  }
  .home-job .job .photo img {
    height: 50%;
    width: 50%;
  }

  .home-projects .projects .text {
    margin-top: 2rem;
  }
  .home-projects .projects h2 {
    font-size: 4rem;
  }
}
.hidden {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
